@using WebProject.Models
@model IEnumerable<User>

<table class="table">
    <tr>
        <th>Username</th>
        <th>Name</th>
        <th>Lastname</th>
        <th>Email</th>
        <th>Date of birth</th>
        <th>Gender</th>
    </tr>
    @{
        foreach (var trainer in Model)
        {
            <tr>

                <td>@trainer.Username</td>
                <td>@trainer.Name</td>
                <td>@trainer.Lastname</td>
                <td>@trainer.Email</td>
                <td>@trainer.DateOfBirth</td>
                <td>@trainer.Gender</td>


            </tr>
        }
    }
</table>