@using WebProject.Models
@{ 
    FitnessCentre centre = HttpContext.Current.Application["ModifyCentre"] as FitnessCentre; 
}

<div class="jumbotron">

    <form method="post" action="/Owner/ModifyFitnessCentre">

        
        <div class="form-group">
            <label for="address">Address</label>
            <input type="text" value="@centre.Address" required class="form-control" name="address" placeholder="Manhattan Avenue 123" />
        </div>

        <div class="form-group">
            <label for="openingYear">Opening year</label>
            <input type="number" value="@centre.OpeningYear" required class="form-control" name="openingYear" min="2000" placeholder="Opening year" />
        </div>

        <div class="form-group">
            <label for="monthlyMembership">Monthly membership</label>
            <input type="number" value="@centre.MonthlyMembership" required class="form-control" name="monthlyMembership" min="0" placeholder="Monthly memebership" />
        </div>

        <div class="form-group">
            <label for="yearlyMembership">Yearly membership</label>
            <input type="number" value="@centre.YearlyMembership" required class="form-control" name="yearlyMembership" min="0" placeholder="Yearly memebership" />
        </div>

        <div class="form-group">
            <label for="trainingCost">Single training cost</label>
            <input type="number" value="@centre.TrainingCost" required class="form-control" name="trainingCost" min="0" placeholder="Single training cost" />
        </div>

        <div class="form-group">
            <label for="groupTrainingCost">Group training cost</label>
            <input type="number" value="@centre.GroupTrainingCost" required class="form-control" name="groupTrainingCost" min="0" placeholder="Group training cost" />
        </div>

        <div class="form-group">
            <label for="personalTrainingCost">Personal training cost</label>
            <input type="number" value="@centre.PersonalTrainingCost" required class="form-control" name="personalTrainingCost" min="0" placeholder="Personal training cost" />
        </div>
        <div class="form-group">
            <input type="submit" value="Modify fitness centre" class="btn btn-success" />
            <a href="~/Home/Index" class="btn btn-danger">Cancel</a>
        </div>
    </form>
</div>

